.section1-header p {
  margin: 0;
  margin-top: 0.8rem;
  font-size: 1.9rem;
}

.section1-header h1 {
  margin-bottom: 0;
}

.tabs-buttons {
  display: flex;
  overflow-x: auto;
  gap: 1.6rem;
  white-space: nowrap;
}

.tabs-buttons button {
  border: none;
  background-color: transparent;
  color: #6a6f73;
  cursor: pointer;
  padding: 0.8rem 0.4rem;
  font-weight: bold;
  height: 4.8rem;
}

.tabs-buttons button:hover,
.tabs-buttons button.active {
  color: #1c1d1f;
}

.tabs-tab {
  border: 1px solid #d1d7dc;
  padding: 3.2rem;
}

.tabs-tab-header {
  margin-bottom: 3.2rem;
}

.tabs-tab-header > h2 {
  margin-top: 0;
}

.courses-carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.course {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-gap: 0.4rem;
  max-width: 28rem;
  min-width: 22rem;
  flex-grow: 1;
}

.course-img {
  width: 100%;
  object-fit: cover;
}

.course-title {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.course-rating {
  display: flex;
  align-items: center;
}

.course-rating-ratio {
  color: #b4690e;
  font-size: 1.4rem;
  font-weight: bold;
}

.course-rating-stars {
  height: 1.7rem;
}

.course-price {
  padding: 0.4rem 0;
  font-weight: bold;
}

.course-badges {
  display: flex;
  margin: 0.4rem 0;
  gap: 0.4rem 0.8rem;
}

.course-badge {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  background-color: #eceb98;
  color: #3d3c0a;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .section1-header {
    display: none;
  }

  .tabs-tab {
    padding: 2rem;
  }

  .courses-carousel {
    padding: 0;
  }
}
